{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container px-5 px-xs-0">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Your basket</h1>
            </div> 
        </div>
        
        <div class="container mt-5">
            <div class="row">
            <!-- Column 1: Bag Items -->
            <div class="col-lg-8">
                {% if bag_items %}
                <h2>Your order</h2>

                {% for item in bag_items %}
                    <div class="row mb-3">
                        <div class="col-md-2">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
                        </div>
                        <div class="col-md-6">
                            <h5>{{ product.name }}</h5>
                                {% if product.discount %}
                                    <!-- Display Regular Price with Strikethrough and Discounted Price -->
                                    <p class="product-price">
                                        <del>{{ product.price }} KR</del> <span class="text-danger">{{ product.discount }} KR</span>
                                    </p>
                                {% else %}
                                    <!-- Display Regular Price without Strikethrough if there is no discount -->
                                    <p class="product-price">{{ product.price }} KR</p>
                                {% endif %}
                        </div>
                        <div class="col-md-2">
                            <p>Quantity: {{ product.quantity }}</p>
                            <button class="btn btn-sm btn-danger">Remove</button>
                        </div>
                    </div>
                {% endfor %}

                <!-- Add/Remove Quantity -->
                <div class="row mt-3">
                    <div class="col-md-2">
                    <button class="btn btn-success">Add Item</button>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="container">
                <div class="row">
                    <p class="text-center">Your basket is empty.</p>
                </div>
            </div> 
            {% endif %}

            <!-- Column 2: Summary -->
            {% if bag_items %}
                <div class="col-lg-4">
                    <h2>Summary</h2>

                    <!-- Bag Total, Discounts, Grand Total -->
                    <p>Bag Total: ... SEK</p>
                    <p>Discounts: ... SEK</p>
                    <p>Grand Total: ... SEK</p>

                    <!-- Free Shipping Message -->
                    <div class="green-container mt-3 p-3">
                        <p>If you shop for XX SEK more, you will get free shipping.</p>
                    </div>

                    <!-- Go to Checkout Button -->
                    <button class="btn btn-primary mt-3">Go to Checkout</button>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}