{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container content-container d-flex align-items-center h-100">
        <div class="row mx-auto">
            <div class="text-center">
                <h1 class="display-4 logo-font text-white">
                    Get ready for spring
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="btn btn-lg rounded-0 text-uppercase py-2">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}