{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mb-5">My Profile</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 pb-5">
                <p class="pb-3"><strong>Default Delivery Information</strong></p>
                <form class="user-form mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-black rounded-0 text-uppercase">Update Information</button>
                </form>
            </div>
            <div class="col-12 col-lg-6 pb-5">
                <p class="pb-3"><strong>Order History</strong></p>
                <div class="order-history table-responsive">
                    {% if orders %}
                        {% for order in orders %}
                            <div class="order-details">
                                <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                        {{ order.order_number|truncatechars:6 }} - {{ order.date }}
                                </a>
                                <ul class="list-unstyled">
                                    {% for item in order.lineitems.all %}
                                        
                                    {% endfor %}
                                </ul>
                                <p><strong>Order total:</strong> {{ order.grand_total }} KR</p>
                                <hr>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>You haven't placed any orders yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}