{% extends "base.html" %}
{% load static %}

{% block extra_title %}Checkout Success{% endblock %}

{% block extra_css %}
    <!-- Add custom CSS for the checkout page -->
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <!-- Header container for the checkout page -->
    <div class="container header-container">
    </div>
{% endblock %}

{% block content %}
    <!-- Main content container for the checkout page -->
    <div class="container container-bag px-5 px-xs-0 pb-5">
        <div class="col d-flex flex-column align-items-center">
            {% if from_profile %}
                <!-- Order information for users accessing from the profile page -->
                <h1 class="text-center">Your Order</h1>
                <p class="text-center pt-2">Here is information about your order</p>
                <div class="text-center my-3">
                    <div class="col">
                        <!-- Button to go back to the user's profile -->
                        <a href="{% url 'profile' %}" class="btn btn-primary w-100">
                            <span class="text-uppercase">Go back to Profile</span>
                        </a>
                    </div>
                </div>
            {% else %}
                <!-- Order confirmation message for regular checkout -->
                <h1 class="text-center">Thank you!</h1>
                <p class="text-center pt-2">We start processing your order immediately, <br> an order confirmation will be sent shortly to 
                    <strong>{{ order.email }}</strong>.
                </p>
                <div class="text-center my-3">
                    <div class="col">
                        <!-- Button to find more inspiration -->
                        <a href="{% url 'products' %}" class="btn btn-primary w-100">
                            <span class="text-uppercase">Find more inspiration</span>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="container mt-sm-5">
            <div class="row justify-content-center">
                <!-- Order summary -->
                <div class="col-12 col-lg-6">
                    <div class="row">
                        <div class="col">
                            <!-- Section heading for order information -->
                            <p><strong>Order Info</strong></p>
                            <hr>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <!-- Display order details -->
                            <p class="mb-0">Order Number:</p>
                            <p class="mb-0">Order Date:</p>
                            <p class="mb-0">Shipping address:</p>
                            <p class="mb-0">City:</p>
                            <p class="mb-0">Delivery:</p>
                        </div>
                        <div class="col-6 text-right">
                            <!-- Display order details dynamically -->
                            <p class="mb-0">{{ order.order_number }}</p>
                            <p class="mb-0">{{ order.date|date:"Y-m-d" }}</p>
                            <p class="mb-0">{{ order.address1 }} {% if order.address2 %} {{ order.address2 }} {% endif %}</p>
                            <p class="mb-0">{{ order.city }}</p>
                            <p class="mb-0">2-3 business days</p>
                        </div>
                    </div>
                    <!-- Order details for each item -->
                    <p class="pt-4"><strong>Your order</strong></p>
                    <hr>

                    {% for item in order.lineitems.all %}
                        <!-- Display each ordered item with details -->
                        <div class="row">
                            <div class="col-4 col-md-3">
                                <div class="img-container">
                                    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-8 col-md-9 mt-2">
                                <p><strong>{{ item.product.name }}</strong></p>
                                {% if item.product.discount %}
                                    <!-- Display Regular Price with Strikethrough and Discounted Price -->
                                    <p class="product-price">
                                        <del>{{ item.product.price }} KR</del> <span class="text-danger">{{ item.product.discount }} KR</span>
                                    </p>
                                {% else %}
                                    <!-- Display Regular Price without Strikethrough if there is no discount -->
                                    <p class="product-price">{{ item.product.price }} KR</p>
                                {% endif %}
                                <!-- Quantity -->
                                <p class="small">Quantity: {{ item.quantity }}</p>
                            </div>
                        </div>
                        <hr class="mb-sm-4">
                    {% endfor %}

                    <!-- Bag Total, Discounts, Grand Total -->
                    <div class="bag-prices mt-sm-4">
                        <div class="row">
                            <div class="col-6">
                                <!-- Display Bag Total, Discounts, Delivery, and Grand Total -->
                                <p>Bag Total:</p>
                                {% if order.discount_total > 0 %}
                                    <p>Discounts:</p>
                                {% endif %}
                                <p>Delivery:</p>
                                <p class="pt-2"><b>Grand Total:</b></p>
                            </div>
                            <div class="col-6 text-right">
                                <!-- Display corresponding values dynamically -->
                                <p>{{ order.order_total|floatformat:2 }} KR</p>
                                <!-- Display discounts if available -->
                                {% if order.discount_total > 0 %}
                                    <p>-{{ order.discount_total|floatformat:2 }} KR</p>
                                {% endif %}
                                <!-- Check if free delivery is met -->
                                {% if order.free_delivery_delta == 0 %}
                                    <p>Free Delivery</p>
                                {% else %}
                                    <p>{{ order.delivery_cost|floatformat:2 }} KR</p>
                                {% endif %}
                                <p class="pt-2"><b>{{ order.grand_total|floatformat:2 }} KR</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
