* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}

/* Body */

body, html {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Jost", sans-serif;
    min-height: 100vh;
    color: #44342C;
    background-color: #FFFEF8;
}

main {
    flex: 1 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
    color: #687D64;
}

.material-symbols-outlined {
    vertical-align: bottom;
}

.text-muted {
    color: #545E56 !important;
}

a.nav-link {
    background-color: transparent !important;
    color: inherit;
    text-decoration: none !important;
}

a.nav-link:hover {
    color: #687D64;
}

a.nav-link:focus {
    outline: none;
    box-shadow: none;
}

.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus {
    background-color: inherit;
    color: #687D64;
}

.navbar-toggler:hover,
.navbar-toggler:active,
.navbar-toggler:focus {
    color: #44342C !important;
}

/* Container */

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 4rem !important;
}

.container-fluid {
    padding: 0;
}

.container-products {
    max-width: 80%;
}

.hero-container {
    padding-top: 7rem;
}

.bg-container {
    margin-top: -50px;
}

/* Navigation */

.navbar {
    background-color: #EDE8E3;
    color: #44342C;
    padding: 1rem 5rem;
}

.nav-link {
    color:#44342C;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
    color: #687D64;
}

.navbar-toggler.navbar-toggler-icon {
    background-color: #44342C;
}

.navbar-toggler {
    margin-left: 0;
}

.custom-navbar-toggler:hover,
.custom-navbar-toggler:active,
.custom-navbar-toggler:focus{
    background-color: #44342C;
}

.card-body {
    border: 0;
    border-bottom: solid 1px #ced4da;
}

.border-top {
    border-color:#D9D9D9 !important;
    padding: 0.4rem 0rem;
}

.dropdown-item {
    color:#44342C;
}

.breadcrumb {
    background-color: #FFFEF8 !important;
    padding: 0.75rem 0rem;
}

/* Header */

.header-container {
    padding-top: 116px;
}

/* Button */

.btn {
    background-color: #687D64;
    color: #fff;
    border: solid #687D64 0.1rem;
    border-radius: 0!important;
    text-transform: uppercase;
}

.btn:hover,
.btn:active,
.btn:focus {
    background-color: #FFFEF8;
    color: #687D64;
    border: solid 0.1rem;
}

.btn-secondary {
    background-color: #FFFEF8;
    color: #687D64;
    border: solid 0.1rem;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
    background-color: #687D64;
    color: #fff;
    border: solid 0.1rem;
}

.btn-sm {
    padding: 0rem 0.5rem;
}

/* Search bar */

.card {
    background-color: #EDE8E3;
}

input[name='q']::placeholder {
    color: #44342C;
}

.btn-search {
    border: 0;
}

/* Home page */



/* Hero section with background image */

.hero {
    background-image: url(https://bjorkhem.s3.eu-north-1.amazonaws.com/media/bjorkhem_spring_rustic_interior_design_news.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    padding: 7rem;
    margin-top: -4rem;
}

.hero-text {
    font-weight: 500;
}

/* Contact Us page */

.question-btn {
    background-color: inherit;
    font-weight: bold;
    color: #44342C;
}

/* Footer */

footer {
    flex-shrink: 0;
    background-color: #545E56;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

.social-icons {
    font-size: 1.5rem;
}

.copyright {
    font-size: 0.6rem;
}

/* Products */

.products {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.product-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.image-card {
    position: relative;
    z-index: 0;
    padding-bottom: 100%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

.image-card img {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity .25s;
}

.card-details {
    min-height: 120px;
    display: flex;
    flex-direction: column;
}

.header-card {
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-price del {
    text-decoration: line-through;
}

.dropdown-menu {
    background-color: #FFFEF8 !important;
    min-width: 8rem;
}

.show>.btn-secondary.dropdown-toggle {
    background-color: #687D64 !important;
    border-color: #687D64;
}

.dropdown-menu.show {
    border-radius: 0 !important;
}

.dropdown-item {
    padding: 0.4rem 0.8rem !important;
}

.dropdown-item.active,
.dropdown-item.hover
.dropdown-item.focus {
    background-color: #687D64;
}

.edit-icon {
    font-size: 1rem;
    line-height: inherit;
}

/* Newsletter */

.newsletter-bg {
    background-color: #EDE8E3;
    width: 100%;
}

#mc_embed_signup {
    clear: left;
    font: inherit;
    width: auto; 
    margin: auto;
}

#mc_embed_signup form {
    padding: 0;
}

input#mce-EMAIL {
    border: none;
    color: #44342C;
    background-color: #FFFEF8 !important;
}

.policy-link {
    text-decoration: underline;
}

/* Product details */

.image-container {
    overflow: hidden;
    object-fit: cover;
    display: flex;
    object-position: center;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    height: auto;
}

.product-details-container p {
    font-size: 0.9rem;
}

.product-price {
    font-size: 1.1rem !important;
}

.green-container {
    background-color: #eaece3;
}

.favorite-icon {
    position: absolute;
    right: 1rem;
}

/* Allauth form formatting */

#id_your_remember_me_checkbox input {
    border-radius: 0px !important;
}

.allauth-form-inner-content input {
    border-color: #545E56;
    border-radius: 0;
    background-color: #FFFEF8;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #44342C;
}

.form-header {
    font-size: 2rem !important;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #687D64;
    border: 1px solid #687D64;;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {    
    color: #545E56;
    background-color: #FFFEF8;
    border-color: #545E56;
}

.user-form ::placeholder {
    color: #44342C;
}

.user-form input {
    border-color: #44342C;
    border-radius: 0;
    background-color: #FFFEF8;
}

label[for="id_gdpr_consent"] {
    font-size: 0.8rem;
}

.form-control {
    color:#44342C;
    background-color: #FFFEF8;
    border-color: #44342C;
    border-radius: 0.1rem;
}

.form-control-sm {
    border-color: #545E56;
}

.user-form input:focus,
.user-form textarea:focus,
.form-group input:focus,
.form-group textarea:focus,
.form-control:focus {
    background-color: #FFFEF8;
    border: inherit;
    box-shadow: 0 0 0 0.2rem rgba(84, 94, 86, 0.50);
}

a.button.secondaryAction {
    text-decoration: underline;
}

/* Shopping bag */

.delete-icon {
    position: absolute;
    right: 1rem;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 19vh;
    width: 100%;
    overflow: hidden; 
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .bag-prices p {
    line-height: 0.7rem;
    margin-bottom: 0.8rem;
  }

  .form-row > btn {
    border-radius: 0;
  }

  .remove-item {
    cursor: pointer;
  }

/* Bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 0px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Convenience classes - colors copied from Bootstrap */

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #687D64 !important;
}

.bg-success {
    background-color: #687D64 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
    background-color: #FFFEF8;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* @media (max-width: 991px) */

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .container-products {
        max-width: 100%;
    }
}

/* Small devices (landscape phones, 576px and down) */
@media screen and (max-width: 576px) {
    .navbar {
        padding: 0.8rem;
    }

    .navbar-brand {
        margin: 0;
        font-size: small;
    }

    .form-inline .form-control {
        width: 80% !important;
    }

    .hero-container {
        padding: 3rem 2rem;
    }

    .hero {
        padding: 4rem;
        margin-top: -3rem;
    }

    .header-card {
        font-size: 1rem;
    }

    .products {
        font-size: 1rem;
    }

    .product-price {
        font-size: 0.9rem !important;
    }
    
    .display-4  {
        font-size: 2rem;
    }

    .btn {
        font-size: small;
    }

    .card-body {
        border: none;
        padding: 0.5rem;
    }

    .dropdown-menu {
        background-color: #EDE8E3;
    }

    .dropdown-menu.w-100.sort-dropdown-menu.show {
        position: fixed !important;
        transform: none !important;
        top: 8rem !important;
        border: 0;
    }

    .header-container {
        padding-top: 100px;
    }

    .home-container {
        padding-top: 20px;
    }

    .product-description-container {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        padding-top: 0 !important;
    }

    .form-header {
        font-size: 1.5rem !important;
    }

    .favorite-icon {
        position: relative;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .btn-secondary.dropdown-toggle {
        padding: 0.2rem !important;
    }

    .container-bag {
        padding: 0rem 0rem 2rem 0rem !important;
    }

    .container-bag h1 {
        font-size: 1.5rem;
    }
}

/* // Extra Small devices (300px and down) */
@media (max-width: 300px) {

    .navbar-brand img {
        height: 20px;
    }

    .nav-link > .material-symbols-outlined.pr-3 {
        padding-right: 0.4rem !important;
    }
}
