<!-- Main Navigation (Visible on Larger Screens) -->
<nav class="navbar navbar-expand-lg d-none d-lg-flex">
    <a class="navbar-brand order-lg-first" href="{% url 'home' %}">
        <img src="#" alt="Björkhem" height="40">
    </a>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <!-- Your main navigation links go here -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'products' %}?category=News">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'products' %}?category=Details">Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'products' %}?category=Textile">Textile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'products' %}?category=Kitchen">Kitchen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'products' %}?category=Lights">Lights</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'products' %}?category=Sale">Sale</a>
            </li>
        </ul>
    </div>
    <!-- Navbar icons -->
    <div class="ml-auto">
        <ul class="navbar-nav d-flex flex-row">
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#toggle-search" role="button" aria-expanded="false" aria-controls="collapse">
                    <span class="material-symbols-outlined">search</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="user-options" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="material-symbols-outlined">person</span>
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="user-options">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                        {% endif %}
                        <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                    {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                    {% endif %}
                </div>
            </li>
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'favorite_products' %}">
                        <span class="material-symbols-outlined">favorite</span>
                    </a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'view_bag' %}">
                    <span class="material-symbols-outlined">shopping_bag</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
