<!-- Mobile Navigation (Visible on Small Screens) -->

<nav class="navbar d-lg-none" aria-label="Mobile Navigation">

    <!-- Logo -->
    <a class="navbar-brand order-lg-first" href="{% url 'home' %}" aria-label="Björkhem Home">
        <img src="https://bjorkhem.s3.eu-north-1.amazonaws.com/media/bjorkhem-logo.svg" alt="Björkhem" height="30">
    </a>

    <!-- Mobile Navigation Icons -->
    <ul class="navbar-nav d-flex flex-row ml-auto">
        <!-- Mobile navigation icon for search -->
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#toggle-search" role="button" aria-expanded="false" aria-controls="toggle-search" aria-label="Toggle Search">
                <span class="material-symbols-outlined pr-3">search</span>
            </a>
        </li>

        <!-- Mobile navigation icon for favorite products (visible for authenticated users) -->
        {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'favorite_products' %}" aria-label="View Favorite Products">
                    <span class="material-symbols-outlined pr-3">favorite</span>
                </a>
            </li>
        {% endif %}

        <!-- Mobile navigation icon for shopping bag -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'view_bag' %}" aria-label="View Shopping Bag">
                <span class="material-symbols-outlined pr-3">shopping_bag</span>
            </a>
        </li>

        <!-- Hamburger Menu Button -->
        <li class="nav-item d-block d-lg-none">
            <a class="nav-link" data-toggle="collapse" href="#mobileNav" role="button" aria-expanded="false" aria-controls="mobileNav" aria-label="Toggle mobile navigation">
                <span class="material-symbols-outlined">menu</span>
            </a>
        </li>

    </ul>

    <!-- Mobile Navigation Links -->
    <div class="collapse navbar-collapse" id="mobileNav">
        <ul class="navbar-nav mt-4">
            <!-- Mobile navigation links for different product categories -->
            <li class="nav-item active border-top">
                <a class="nav-link" href="{% url 'products' %}?category=News">News</a>
            </li>
            <li class="nav-item border-top">
                <a class="nav-link" href="{% url 'products' %}?category=Details">Details</a>
            </li>
            <li class="nav-item dropdown border-top">
                <a class="nav-link" href="{% url 'products' %}?category=Textile">Textile</a>
            </li>
            <li class="nav-item border-top">
                <a class="nav-link" href="{% url 'products' %}?category=Kitchen">Kitchen</a>
            </li>
            <li class="nav-item border-top">
                <a class="nav-link" href="{% url 'products' %}?category=Lights">Lights</a>
            </li>
            <li class="nav-item border-top">
                <a class="nav-link" href="{% url 'products' %}?category=Sale">Sale</a>
            </li>

            <!-- Mobile navigation link for user options (dropdown) -->
            <li class="nav-item border-top dropdown">
                <a class="nav-link" href="#" id="user-options" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="User Options">
                    <span class="material-symbols-outlined">person</span>
                    My Profile
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="user-options">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <!-- Superuser option for product management -->
                            <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                        {% else %}
                            <!-- Regular user option for viewing their profile -->
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                        {% endif %}
                        <!-- Logout option for all authenticated users -->
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                    {% else %}
                        <!-- Registration and login options for unauthenticated users -->
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
</nav>
