<!-- Newsletter form -->
<div class="newsletter-bg py-4 px-2 p-sm-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-7">
            <h2 class="text-center products">Get Our Newsletter</h2>

            <!-- Mailchimp Form Code -->
            <div id="mc_embed_signup" class="rounded-0">
                <form action="https://sanktkors.us14.list-manage.com/subscribe/post?u=7deaf461d2ecadc2a40d31f03&amp;id=71b21e59f4&amp;f_id=004eabe0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate="">
                    <div id="mc_embed_signup_scroll" class="row">
                        <div class="form-group col-sm-8 px-0">
                            <label for="mce-EMAIL" class="sr-only">Email Address <span class="text-danger">*</span></label>
                            <input type="email" name="EMAIL" class="form-control rounded-0" id="mce-EMAIL" required="" placeholder="Add Email" aria-label="Email Address">
                        </div>
                        <div class="form-group col-sm-4 pl-0">
                            <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary ml-0">Subscribe</button>
                        </div>
                        <div id="mce-responses" class="clear col-md-12">
                            <div class="response" id="mce-error-response" style="display: none;"></div>
                            <div class="response" id="mce-success-response" style="display: none;"></div>
                        </div>
                        <div aria-hidden="true" style="position: absolute; left: -5000px;">
                            <input type="text" name="b_7deaf461d2ecadc2a40d31f03_71b21e59f4" tabindex="-1" value="">
                        </div>
                    </div>
                </form>
                <!-- Policy link -->
                <small>
                    <p class="text-center policy-link m-0"><a href="URL_TO_POLICY" target="_blank">Our policy for email addresses</a></p>
                </small>
            </div>
            <!-- End of Mailchimp Form Code --> 
        </div>
    </div>
</div>