{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block inner_content %}

  <!-- Sign Up Header -->
  <h1 class="form-header p-2 text-center text-xs">{% trans "Sign Up" %}</h1>
  <!-- Sign Up Form -->
  <form class="signup p-2 w-100" id="signup_form" method="POST" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" class="w-100">
    {% endif %}
    <!-- Sign Up Button -->
    <button type="submit" class="btn btn-primary p-2 mb-3 rounded-0" style="width: 100%">Sign Up</button>
    <!-- Login Button -->
    {% trans "Login" as login_text %}
    <a class="btn btn-secondary p-2 mb-2 rounded-0" href="{% url 'account_login' %}" style="width: 100%">{{ login_text }}</a>
  </form>

{% endblock %}