{% extends "base.html" %}
{% load static %}

{% block extra_title %}My Favorites{% endblock %}

{% block page_header %}
    <!-- Page header block in the template -->
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Main content block in the template -->
    <div class="container-fluid container-products px-4">
        {% if favorite_products %}
        <div class="row pb-4">
            <div class="col">
                <!-- Subheading for products in the main content block -->
                <h1 class="products">Favorites</h1>
            </div>    
        </div>
        <div class="row pb-3">
            
        <!-- Loop through favoriete products -->

            {% for favorite_product in favorite_products %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <!-- Product card with image, name, price, and discount if applicable -->
                    <div class="product-card">
                        <a href="{% url 'product_detail' favorite_product.id %}" class="image-card">
                            <img src="{{ favorite_product.image.url }}" alt="{{ favorite_product.image_alt }}">
                        </a>
                        <div class="card-details">
                            <h2 class="header-card pt-3">{{ favorite_product.name }}</h2>

                            {% if favorite_product.discount %}
                                <!-- Display Regular Price with Strikethrough and Discounted Price -->
                                <p class="product-price">
                                    <del>{{ favorite_product.price }} KR</del> <span class="text-danger">{{ favorite_product.discount }} KR</span>
                                </p>
                            {% else %}
                                <!-- Display Regular Price without Strikethrough if there is no discount -->
                                <p class="product-price">{{ favorite_product.price }} KR</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <!-- Display message when no favorite items are available -->
            <div class="col-md-12 text-center favorite-col">
                <h1 class="mt-1">No favorite items yet?</h1>
                <p class="pt-4 pb-3">Mark your favorite items using the heart icon <span class="material-symbols-outlined">favorite</span></p>
                <!-- Explore products button -->
                <a href="{% url 'products' %}" class="btn btn-primary">Explore Our Products</a>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}