{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!-- Page header block in the template -->
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Main content block in the template -->
    <div class="overlay"></div>
    <div class="container-fluid product-details-container px-5 px-xs-0">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                
                <div class="d-flex justify-content-between">
                    <!-- Link to go back with a chevron icon -->
                    <a href="#" onclick="history.back();">
                        <span class="material-symbols-outlined">chevron_left</span>back
                    </a>

                    <!-- Favorite icon for small screens -->
                    {% if user.is_authenticated %}
                        {% if favorite %}
                        <!-- Remove from Favorites Button -->
                        <a class="btn-like" href="{% url 'add_favorite_product' product.id %}" aria-label="Remove from Favorites">
                            <span class="material-symbols-outlined d-md-none" style="font-variation-settings: 'FILL' 1;">favorite</span>
                        </a>
                        {% else %}
                        <!-- Add to Favorites Button -->
                        <a class="btn-like" href="{% url 'add_favorite_product' product.id %}" aria-label="Add to Favorites">
                            <span class="material-symbols-outlined d-md-none">favorite</span>
                        </a>
                        {% endif %}
                    {% endif %}
                </div>

                <!--Image container -->
                <div class="image-container mt-4 mb-5 mb-sm-0 mb-xs-0 pb-5 pb-xs-0">
                    <a href="{{ product.image.url }}" target="_blank">
                        <img src="{{ product.image.url }}" alt="{{ product.image_alt }}" class="product-img">
                    </a>
                </div>
            </div>

            <!-- Container for the product details, including name, price, description  -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-description-container my-5 mt-xs-0">
                    
                    <!-- Favorite icon for large screens -->
                    <div class="d-none d-md-block">
                        {% if user.is_authenticated %}
                            {% if favorite %}
                                <!-- Remove from Favorites Button -->
                                <a class="btn-like" href="{% url 'add_favorite_product' product.id %}" aria-label="Remove from Favorites">
                                    <span class="material-symbols-outlined favorite-icon" style="font-variation-settings: 'FILL' 1;">favorite</span>
                                </a>
                            {% else %}
                                <!-- Add to Favorites Button -->
                                <a class="btn-like" href="{% url 'add_favorite_product' product.id %}" aria-label="Add to Favorites">
                                    <span class="material-symbols-outlined favorite-icon" style="fill: 1;">favorite</span>
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                    
                    <!-- Product name -->
                    <h1 class="header-card pb-2">{{ product.name }}</h1>
                    
                    {% if product.discount %}
                        <!-- Display Regular Price with Strikethrough and Discounted Price -->
                        <p class="product-price">
                            <del>{{ product.price }} KR</del> <span class="text-danger">{{ product.discount }} KR</span>
                        </p>
                    {% else %}
                        <!-- Display Regular Price without Strikethrough if there is no discount -->
                        <p class="product-price">{{ product.price }} KR</p>
                    {% endif %}

                    <!-- Product description -->
                    <p class="mt-4 text-xs">{{ product.description }}</p>
                    {% if product.color or product.size %}
                                <p class="m-0">Color: {{ product.color }}</p>
                                <p>Size: {{ product.size }}</p>
                    {% endif %}

                    <!-- Add to Cart button -->
                    <button class="btn rounded-0 text-uppercase py-2 w-100">Add to Cart</button>

                    <!-- Container with green background and text -->
                    <div class="green-container mt-3 p-3">
                        <p class="mb-0"><span class="material-symbols-outlined">local_shipping</span>
                            &nbsp Free shipping on purchases over 499 SEK
                        </p>
                        <p class="mb-0"><span class="material-symbols-outlined">box</span>
                            &nbsp 14-day return policy
                        </p>
                    </div>
                </div>
            </div>    
        </div>
    </div>
{% endblock %}